@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,700&display=swap&subset=korean');

body{
  margin:0px;
}

body, a{
  color: #2d2d2d;
}

/* font 설정 */
body, button, input, textarea, select {
	font-family: 'Noto Sans KR', sans-serif;
}

#home {
  border-bottom: 1px solid gray;
  padding-top: 10px;
  padding-bottom: 15px;
  margin: 0px;
  text-align:center;
 }

a{
  text-decoration:none;
}

#grid{
  display:grid;
  grid-template-columns: 180px 1fr;
}

#menu{
  border-right: 1px solid gray;
  padding-left: 8px;

}


#article{
  padding-left: 15px;
}

ol{
  padding-left: 20px;
}
